# Dependencias
node_modules/

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
npm-debug.log*

# Directorio de uploads
src/public/uploads/

# Archivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de construcción
dist/
build/ 